<div style="width:100vw; height:100vh; display:flex; justify-content:center; align-items:center; ">


  <div style="width: 90vw; max-width:500px; background-color: #ffa500; color:#444; padding-bottom: 30px;">
    <h2 style="text-align: center; line-height:40px;">Congratulations!</h2>
    <p style="text-align: center;">Your email has already been confirmed.</p>
    <p style="text-align: center;"> You can now login to the application.</p>

  </div>
</div>