<div style="width:100vw; height:100vh; display:flex; justify-content:center; align-items:center; ">


    <div style="width: 90vw; max-width:300px; background-color: #e75e27; color:#444; padding-bottom: 30px;">
        <h2 style="text-align: center; line-height:40px;">Error!</h2>
        <p style="text-align: center;">{{message}}</p>

    </div>
</div>